# Django settings
SECRET_KEY=<Your SECRET_KEY>
DEBUG=<True or False>
ALLOWED_HOSTS=<domain name and IP address>

# External email service
EMAIL_HOST=<your_email_provider_address>
EMAIL_USER=<sender_email_address>
EMAIL_PASSWORD=<sender_email_password>

# Postgresql or mysql database
DB_NAME=<database name>
DB_USER=<database admin user>
DB_PASS=<admin password>
DB_HOST=<host name>
DB_PORT=<port>
