{% extends 'base.html' %}

{% block title %}| About{% endblock title %}

{% block content %}

<h1 class="text-3xl mb-6 font-bold">About Puddle</h1>

<h2 class="text-xl mb-6">Built with...</h2>

<ul>
    <li>asgiref==3.7.2</li>
    <li>black==24.1.1</li>
    <li>click==8.1.7</li>
    <li>django==5.0.2</li>
    <li>django-extensions==3.2.3</li>
    <li>mypy-extensions==1.0.0</li>
    <li>packaging==23.2</li>
    <li>pathspec==0.12.1</li>
    <li>pillow==10.2.0</li>
    <li>platformdirs==4.2.0</li>
    <li>ruff==0.2.1</li>
    <li>sqlparse==0.4.4</li>
</ul>

{% endblock content %}
