{% extends 'base.html' %} 

{% block title %}| Dashboard{% endblock title %} 

{% block content %}

<h1 class="text-3xl mb-6 font-bold">Dashboard</h1>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl w-100">
  <h2 class="mb-12 text-2xl text-center">My Items</h2>
  <div class="grid grid-cols-3 gap-3">
    {% for item in items %}
    <a href="{% url 'item:detail' item.id %}">
      <div>
        <img
          src="{{ item.image.url }}"
          alt="{{ item.name }}"
          class="rounded-t-xl"
        />
      </div>
      <div class="p-6 bg-white rounded-b-xl">
        <h2 class="text-2xl">{{ item.name }}</h2>
        <p class="text-gray-500">Price: ${{ item.price }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
