{% extends 'base.html' %}

{% block title %}| {{ title }}{% endblock title %}

{% block content %}

<div class="w-1/2 my-6 mx-auto bg-gray-100 rounded-xl p-6">
    <div class="flex flex-col items-center">
        <h1 class="text-3xl mb-6">{{ title }}</h1>
    </div>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="category" class="inline-block mb-2">Category</label>
            {{ form.category }}
        </div>
        <div class="mb-3">
            <label for="name" class="inline-block mb-2">Item Name</label>
            {{ form.name }}
        </div>
        <div class="mb-3">
            <label for="category" class="inline-block mb-2">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-3">
            <label for="price" class="inline-block mb-2">Price</label>
            {{ form.price }}
        </div>
        <div class="mb-3">
            <label for="image" class="inline-block mb-2">Image</label>
            {{ form.image }}
        </div>
        {% if form.errors or form.non_field_errors %}
          <div class="mb-3 p-6 bg-red-100 rounded-xl">
            
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        <div class="flex flex-col items-center">
            <button type="submit" class="mt-6 w-1/2 px-8 py-4 bg-blue-500 hover:bg-blue-700 text-xl text-white rounded-xl">Add Item</button>
        </div>
    </form>
</div>

{% endblock content %}
